@model Test2.Web.Data.Entity.BookGenre

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookGenre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" id="OldBookId" name="OldBookId" value="@Model.BookID" />
            <input type="hidden" id="OldGenreId" name="OldGenreId" value="@Model.GenreID" />

            <input type="hidden" id="NewBookId" name="NewBookId" value="@Model.BookID" />
            <input type="hidden" id="NewGenreId" name="NewGenreId" value="@Model.GenreID" />

            <div class="form-group">
                <label asp-for="BookID" class="control-label">Book</label>
                <select id="BookSelect" class="form-control" asp-for="BookID" asp-items="ViewBag.BookID"><option value="">-- Select a Book --<></option></select>
                <span asp-validation-for="BookID" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreID" class="control-label">Genre</label>
                <select id="GenreSelect" class="form-control" asp-for="GenreID" asp-items="ViewBag.GenreID"><option value="">-- Select a Genre --<></option></select>
                <span asp-validation-for="GenreID" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $('#BookSelect').change(function () {
                var selectedBookId = $(this).val();
                $('#NewBookId').val(selectedBookId);
            });

            $('#GenreSelect').change(function () {
                var selectedGenreId = $(this).val();
                $('#NewGenreId').val(selectedGenreId);
            });


            var currentBookId = "@Model.BookID";
            var currentGenreId = "@Model.GenreID";

            if (currentBookId) {
                $('#BookSelect').val(currentBookId);
            }

            if (currentGenreId) {
                $('#GenreSelect').val(currentGenreId);
            }
        });
    </script>
}
